<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Appointments</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <ul class="list-unstyled timeline">
        <% @customer.appointments.each do |app| %>
          <li>
            <div class="block">
              <div class="tags">
                <a href="" class="tag">
                  <span><%= app.province %></span>
                </a>
              </div>
              <div class="block_content">
                <h2 class="title">
                  <a><%= app.address %>, <%= app.city %>, <%= app.province %></a>
                </h2>
                <div class="byline">
                  <span><%= app.schedule_time.to_formatted_s(:short) %></span>
                </div>
                <p class="excerpt">
                  Status: <%= app.status %>
                </p>
              </div>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

<div class="col-md-6 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Customer </h2>
      <!--<ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
      </ul>-->
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <form class='form-horizontal form-label-left input_mask'>

        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
          <input type="text" class='form-control has-feedback-left' value="<%= @customer.first_name %>" disabled="disabled">
          <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
        <input type="text" class='form-control' value="<%= @customer.last_name %>" disabled="disabled">
          <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
          <input type="text" class='form-control has-feedback-left' value="<%= @customer.email %>" disabled="disabled">
          <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
        <input type="text" class='form-control' value="<%= @customer.phone %>" disabled="disabled">
          <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
        <input type="text" class='form-control has-feedback-left' value="<%= @customer.home_phone %>" disabled="disabled">
          <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
        </div>

        <div class="form-group">
          <div class="col-md-9 col-sm-9 col-xs-12">
            <textarea rows="10" class='form-control' disabled="disabled" style='z-index: auto; position: relative; line-height: 20px; font-size: 14px; transition: none; background: transparent !important;'><%= @customer.details%></textarea>
          </div>
        </div>

        <div class="ln_solid"></div>
        <div class="form-group">
          <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
            <%= link_to 'Edit', edit_customer_path(@customer), :class => 'btn btn-primary' %>
            <%= link_to 'Back', customers_path, :class => 'btn btn-success' %>
          </div>
        </div>

      </form>
    </div>
  </div>


