<% days_from_this_week.each do |day|%>
<td data-date="<%= day.to_s %>" <% if defined? hour %>class="appointments-table-content"<% end %>>
    <% if defined? hour %>
    <% available = 0 %>
    <% if current_user.role == 'admin' || current_user.role == 'manager' || current_user.role == 'master' || current_user.role == 'telemarketer' %>
    <% date_time = day.strftime('%Y-%m-%d ' + hour.to_s + ':00:00') %>
    <% sellerschedule.each do |schedule| %>
        <% if schedule.schedule_time ==  date_time %>
        <% available = available + 1 %>
        <% end %>
    <% end %>
    <% appointments.each do |app| %>
        <% if app.status.to_sym != Appointment.statuses[:Cancelled] && app.status.to_sym != Appointment.statuses[:Sold] %>
        <% if app.schedule_time.to_date.to_formatted_s(:db) == day.to_formatted_s(:db)  && app.schedule_time.strftime("%H").to_i == hour %>
            <% available = available - 1 if available > 0 %>
        <% end %>
        <% end %>
    <% end %>
    <p><%= available %> Booking<% if available > 1 %>s<% end %> Available</p>
    <% end %>
    <% end%>

    <% if defined? followups %>
        <% followups.each do |app| %>    
            <% if app.followup_time.to_date.to_formatted_s(:db) == day.to_formatted_s(:db) %>
            <a href="<% if can? :edit, Appointment %><%= edit_appointment_path(app) %><% else %><%= appointment_path(app) %><% end %>">
            <div class="event" style="background:<%= app.color%>;">
                <%= app.customer.first_name %>
                <br>
                <%= app.city %>
                <% if sellers.length > 0 %>
                <% sellers.each do |selesman| %>
                <% if selesman.id == app.seller_id %>
                <br>
                <%= selesman.first_name %>
                <% end %>
                <% end %>
                <% end %>
            </div>
            </a>
            <% end %>
        <% end %>
    <% else %>
        <% appointments.each do |app| %>
            <% if app.schedule_time.to_date.to_formatted_s(:db) == day.to_formatted_s(:db)  && app.schedule_time.strftime("%H").to_i == hour %>
            <a href="<% if can? :edit, Appointment %><%= edit_appointment_path(app) %><% else %><%= appointment_path(app) %><% end %>">
            <div class="event" style="background:<%= app.color%>;">
                <%= app.customer.first_name %>
                <br>
                <%= app.city %>
                <% if sellers.length > 0 %>
                    <% sellers.each do |selesman| %>
                        <% if selesman.id == app.seller_id %>
                        <br>
                        <%= selesman.first_name %>
                        <% end %>
                    <% end %>
                <% end %>
                <%= app.info_icon.html_safe %>
            </div>
            </a>        
            <% end %>
        <% end %>
    <% end %>
    <% if defined? hour %>
    <% if available > 0 %>
    <% if can? :new, Appointment %>
        <% if (current_user.role == 'master' || current_user.role == 'admin') || ((day > Date.today - 1.day) && (current_user.role == 'manager' || current_user.role == 'telemarketer')) %>
        <% date_time = day.strftime('%Y-%m-%d ' + hour.to_s + ':00:00') %>
        <a href="<%= new_appointment_path %>/<%= DateTime.parse(date_time).to_i %>"><i class="fa fa-tags"></i> Add</a>
        <% end %>
    <% end %>
    <% end %>
    <% end %>
</td>
<% end %>