    <%= form_for appointment, :html => {:class => 'form-horizontal form-label-left input_mask'} do |f| %>
      <% if appointment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

          <ul>
          <% appointment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.hidden_field :schedule_time, value: appointment.schedule_time.to_formatted_s(:db) %>
      <%= f.hidden_field :end_time, value: appointment.end_time.to_formatted_s(:db) %>

      <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Schedule time</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input type="text" class='form-control' value="<%= appointment.schedule_time.to_formatted_s(:short) %> - <%= appointment.end_time.to_formatted_s(:short) %>" disabled="disabled">
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Do you require supply and install</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <%= f.select :supply_install, {supplyAndInstall: 'Supply & Install', supplyOnly: 'Supply Only'}.values, {}, {:class => 'form-control'} %>
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Are all homeowners would be present during appointment</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <%= f.select :homeoweners_at_home, {yes: :yes, no: :no}, {}, {:class => 'form-control'} %>
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Is new Customer</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <%= f.label :is_new_customer, "Yes", :value => 1  %>
            <%= f.radio_button :is_new_customer, 1, :checked => true %>

            <%= f.label :is_new_customer, "Existing", :value => 0  %>
            <%= f.radio_button :is_new_customer, 0 %>
            
          </div>
      </div>

      

      <div class="form-group" id="existing_customer" style="display:none;">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Customer</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <%= f.select :customer_id, options_for_select(@customers.map{ |c| [c.full_name, c.id] }), {:include_blank => 'None Specified'}, { class: 'form-control' } %>
          </div>
      </div>


      <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Appointment Type</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
          <% if current_user.role == 'telemarketer' %>
            <%= f.select :status, options_for_select({telemarketing: :Telemarketing }.values, :telemarketing), {}, { class: 'form-control' } %>
          <% else %>
            <%= f.select :status, options_for_select({lead: :Lead, reschedule: :Reschedule, upSell: :UpSell, referral: :Referral, telemarketing: :Telemarketing }.values, :lead), {}, { class: 'form-control' } %>
          <% end %>
          </div>
      </div>

      
      <% if current_user.role == 'admin' || current_user.role == 'master' %>
      <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Project Manager</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <%= f.select :seller_id, options_for_select(@sellers.map{ |c| [c.full_name, c.id] }), {:include_blank => 'None Specified'}, { class: 'form-control' } %>
          </div>
      </div>
      <% end %>


      <div id="new_customer">
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">First Name</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <%= f.text_field :new_customer_first_name, :class => 'form-control has-feedback-left', :placeholder => 'First Name' %>
              <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Last Name</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <%= f.text_field :new_customer_last_name, :class => 'form-control  has-feedback-left', :placeholder => 'Last Name' %>
              <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Phone</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <%= f.text_field :new_customer_phone, :class => 'form-control  has-feedback-left', :placeholder => 'Phone' %>
              <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Email</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <%= f.text_field :new_customer_email, :class => 'form-control has-feedback-left', :placeholder => 'Email' %>
              <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
            </div>
        </div>

      </div>



      <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Address</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <%= f.text_field :address, :class => 'form-control' %>
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">City</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <%= f.text_field :city, :class => 'form-control' %>
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Provice</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <%= f.select :province, {AB: :AB, BC: :BC, MB: :MB, NB: :NB, NL: :NL, NS: :NS, NT: :NT, NU: :NU, ON: :ON, PE: :PE, QC: :QC, SK: :SK, YT: :YT}, {}, {:class => 'form-control'} %>
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Postal Code</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <%= f.text_field :postal_code, :class => 'form-control' %>
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Number of windows</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <%= f.number_field :windows_num, :class => 'form-control' %>
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Number of doors</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <%= f.number_field :doors_num, :class => 'form-control' %>
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">How soon to replace</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <%= f.select :how_soon, {"1-3 months" => "1-3 months", "6 months" => "6 months", "1 year" => "1 year", "not sure" => "not sure"}, {}, {:class => 'form-control'} %>
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">How many quotes they collect</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <%= f.text_field :quotes_num, :class => 'form-control' %>
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">How did you hear about us</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <%= f.text_field :hear_about_us, :class => 'form-control' %>
          </div>
      </div>

      

      <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Do you need financing</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <%= f.text_field :financing, :class => 'form-control' %>
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Comments</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <%= f.text_area :comments, :class => 'form-control', :rows => 10, :html => {:style => 'z-index: auto; position: relative; line-height: 20px; font-size: 14px; transition: none; background: transparent !important;'} %>
          </div>
      </div>

      <div class="form-group">
        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
          <%= link_to 'Cancel', :back, :class => 'btn btn-primary' %>
          <%= f.submit 'Save', :class => 'btn btn-success' %>
        </div>
      </div>
    <% end %>

    <script>
      $(document).ready(function() {

        $('input[type=radio][name="appointment[is_new_customer]"]').change(function() {
            if (this.value == 1) {
              $('#existing_customer').hide();
              $('#new_customer').show();
            }
            else if (this.value == 0) {
              $('#existing_customer').show();
              $('#new_customer').hide();     
            }
        });
      });
    </script>