<div class="col-md-6 col-xs-12">
    <div class="x_title">
      <h2>Appointment Details</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    
        <p>
          <strong>Status:</strong>
          <%= @appointment.status %>
        </p>

        <p>
          <strong>Customer:</strong>
          <%= @appointment.customer.full_name %>
        </p>

        <p>
          <strong>Schedule time:</strong>
          <%= @appointment.schedule_time.to_formatted_s(:short) %>
        </p>
        
        <p>
          <strong>Address:</strong>
          <%= @appointment.address %>
        </p>

        <p>
          <strong>City:</strong>
          <%= @appointment.city %>
        </p>

        <p>
          <strong>Province:</strong>
          <%= @appointment.province %>
        </p>

        <p>
          <strong>Postal code:</strong>
          <%= @appointment.postal_code %>
        </p>

        <p>
          <strong>Number of windows to replace:</strong>
          <%= @appointment.windows_num %>
        </p>

        <p>
          <strong>Number of doors to replace:</strong>
          <%= @appointment.doors_num %>
        </p>

        <p>
          <strong>How soon to replace:</strong>
          <%= @appointment.how_soon %>
        </p>

        <p>
          <strong>How many quotes they collect:</strong>
          <%= @appointment.quotes_num %>
        </p>

        <p>
          <strong>How did you hear about us:</strong>
          <%= @appointment.hear_about_us %>
        </p>

        <p>
          <strong>Are all homeoweners would be present at home during appointment:</strong>
          <%= @appointment.homeoweners_at_home %>
        </p>

        <p>
          <strong>Do you require supply and install:</strong>
          <%= @appointment.supply_install %>
        </p>

        <p>
          <strong>Do you need financing:</strong>
          <%= @appointment.financing %>
        </p>

        <p>
          <strong>Comments:</strong>
          <%= @appointment.comments %>
        </p>
        <p>
          <strong>Attachments:</strong><br>
          <% @appointment.attachments.each do |file| %>
          <a target="_blank" href="<%= file.file_url %>"><%= file.file_name %></a><br>
          <% end %>
        </p>
        <div id="uploads_container"></div>
        <script id="template-upload" type="text/x-tmpl">
          <div id="upload_{%=o.unique_id%}" class="upload">
            <h5>{%=o.name%}</h5>
            <div class="progress progress-striped active">
              <div class="bar" style="width: 0%"></div>
            </div>
          </div>
        </script>
  </div>

  </div>


              <% if current_user.role == 'seller' %>

              <div class="col-md-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Action Form</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>
                    <div class="form-horizontal form-label-left input_mask">

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <select class="form-control" onchange="this.options[this.selectedIndex].value && (select_seller_option(this.options[this.selectedIndex].value));">
                            <option value="none">Choose option</option>
                            <option value="followup">FollowUp</option>
                            <option value="sold">Sold</option>
                            <option value="canceled">Cancel</option>
                          </select>
                        </div>
                      </div>

                      <!-- FollowUp -->
                      <div id="followup-seller-action-form" style="display:none;" class="seller-action-form">
                        <%= form_for @appointment, :html => {:class => 'form-horizontal form-label-left input_mask'} do |f| %>
                    
                          <%= f.hidden_field :status, value: Appointment.statuses[:followUp] %>
      
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Choose date</label>
                            <div class="col-md-9 xdisplay_inputx form-group has-feedback">
                              <%= f.hidden_field :followup_time, value: @appointment.schedule_time.to_formatted_s(:db), id: 'corrected_date' %>
                              <input type="text" class="form-control has-feedback-left datepicker-seller" value="<%= Date.today.strftime("%m/%d/%Y") %>" required />
                              <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                            </div>
                          </div>
                          
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">FollowUp Question 1</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <input type="text" class="form-control" placeholder="Default Input" required>
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">FollowUp Question 2</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <input type="text" class="form-control" placeholder="Default Input" required>
                            </div>
                          </div>
                          
                          <div class="ln_solid"></div>
                          <div class="form-group">
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                              <button class="btn btn-primary" type="reset">Reset</button>
                              <%= f.submit 'Save as FollowUp', :class => 'btn btn-success' %>
                            </div>
                          </div>
                        <% end %>           
                      </div>
                      <!-- End FollowUp -->

                      <!-- Sold -->
                      <div id="sold-seller-action-form" style="display:none;" class="seller-action-form">
                        <%= s3_uploader_form callback_url: new_url,
                                  id: "s3_uploader",
                                  callback_param: "file_url",
                                  expiration: 2.hours.from_now.utc.iso8601,
                                  callback_method: "POST",
                                  max_file_size: 2.megabytes,
                                  data: {:key => :val} do %>
                                  
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Please attach required files</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                            <%= file_field_tag :file, multiple: false, class: 'form-control' %>
                            </div>
                          </div>
                        <% end %>
                        <%= form_for @appointment, :html => {:class => 'form-horizontal form-label-left input_mask'} do |f| %>
                          <%= f.hidden_field :status, value: Appointment.statuses[:sold] %>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Sold Question 1</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <input type="text" class="form-control" placeholder="Default Input" required>
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Sold Question 2</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <input type="text" class="form-control" placeholder="Default Input" required>
                            </div>
                          </div>
                          
                          <div class="ln_solid"></div>
                          <div class="form-group">
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                              <button class="btn btn-primary" type="reset">Reset</button>
                              <%= f.submit 'Save as Sold', :class => 'btn btn-success', id: 'submit-sold', disabled: 'true' %>
                            </div>
                          </div>
                        <% end %>             
                      </div>
                      <!-- End Sold -->

                      <!-- Canceled -->
                      <div id="canceled-seller-action-form" style="display:none;" class="seller-action-form">
                        <%= form_for @appointment, :html => {:class => 'form-horizontal form-label-left input_mask'} do |f| %>
                          <%= f.hidden_field :status, value: Appointment.statuses[:cancelled] %>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Cancelled Question 1</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <input type="text" class="form-control" placeholder="Default Input" required>
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Cancelled Question 2</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <input type="text" class="form-control" placeholder="Default Input" required>
                            </div>
                          </div>
                          
                          <div class="ln_solid"></div>
                          <div class="form-group">
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                              <button class="btn btn-primary" type="reset">Reset</button>
                              <%= f.submit 'Save as Canceled', :class => 'btn btn-success' %>
                            </div>
                          </div>
                        <% end %>                  
                      </div>
                      <!-- End Cancel -->
                    </div>
                  </div>
                </div>
              </div>
              <% end %>

              
