<div class="col-md-6 col-xs-12">
    <div class="x_title">
      <h2>Appointment Details</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    
        <p>
          <strong>Status:</strong>
          <%= @appointment.status %>
        </p>

        <p>
          <strong>Customer:</strong>
          <%= @appointment.customer.full_name %>
        </p>

        <p>
          <strong>Schedule time:</strong>
          <%= @appointment.schedule_time.to_formatted_s(:short) %>
        </p>
        
        <p>
          <strong>Address:</strong>
          <%= @appointment.address %>
        </p>

        <p>
          <strong>City:</strong>
          <%= @appointment.city %>
        </p>

        <p>
          <strong>Province:</strong>
          <%= @appointment.province %>
        </p>

        <p>
          <strong>Postal code:</strong>
          <%= @appointment.postal_code %>
        </p>

        <p>
          <strong>Number of windows to replace:</strong>
          <%= @appointment.windows_num %>
        </p>

        <p>
          <strong>Number of doors to replace:</strong>
          <%= @appointment.doors_num %>
        </p>

        <p>
          <strong>How soon to replace:</strong>
          <%= @appointment.how_soon %>
        </p>

        <p>
          <strong>How many quotes they collect:</strong>
          <%= @appointment.quotes_num %>
        </p>

        <p>
          <strong>How did you hear about us:</strong>
          <%= @appointment.hear_about_us %>
        </p>

        <p>
          <strong>Are all homeoweners would be present at home during appointment:</strong>
          <%= @appointment.homeoweners_at_home %>
        </p>

        <p>
          <strong>Do you require supply and install:</strong>
          <%= @appointment.supply_install %>
        </p>

        <p>
          <strong>Do you need financing:</strong>
          <%= @appointment.financing %>
        </p>

        <p>
          <strong>Comments:</strong>
          <%= @appointment.comments %>
        </p>
  </div>

  </div>



<div class="col-md-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Action Form</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>
                    <div class="form-horizontal form-label-left input_mask">

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <select class="form-control" onchange="this.options[this.selectedIndex].value && (select_seller_option(this.options[this.selectedIndex].value));">
                            <option value="none">Choose option</option>
                            <option value="followup">FollowUp</option>
                            <option value="sold">Sold</option>
                            <option value="canceled">Cancel</option>
                          </select>
                        </div>
                      </div>

                      <div id="followup-seller-action-form" style="display:none;" class="seller-action-form">
                        <%= form_for @appointment, :html => {:class => 'form-horizontal form-label-left input_mask'} do |f| %>
                    
                          <%= f.hidden_field :status, value: Appointment.statuses[:followUp] %>
      
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Choose date</label>
                            <div class="col-md-9 xdisplay_inputx form-group has-feedback">
                              <%= f.hidden_field :followup_time, value: @appointment.schedule_time.to_formatted_s(:db), id: 'followup_date' %>
                              <input type="text" class="datepicker form-control has-feedback-left datepicker" value="<%= Date.today.strftime("%m/%d/%Y") %>" require="true" />
                              <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                            </div>
                          </div>
                          
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">FollowUp Question 1</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <input type="text" class="form-control" placeholder="Default Input">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">FollowUp Question 2</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <input type="text" class="form-control" placeholder="Default Input">
                            </div>
                          </div>
                          
                          <div class="ln_solid"></div>
                          <div class="form-group">
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                              <button class="btn btn-primary" type="reset">Reset</button>
                              <%= f.submit 'Save as FollowUp', :class => 'btn btn-success' %>
                            </div>
                          </div>
                        <% end %>           
                      </div>

                      <div id="sold-seller-action-form" style="display:none;" class="seller-action-form">
                        <form class="form-horizontal form-label-left input_mask">
                          <input type="hidden" name="status" value="<%= Appointment.statuses[:sold] %>">
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Sold Question 1</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <input type="text" class="form-control" placeholder="Default Input">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Sold Question 2</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <input type="text" class="form-control" placeholder="Default Input">
                            </div>
                          </div>
                          
                          <div class="ln_solid"></div>
                          <div class="form-group">
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                              <button class="btn btn-primary" type="reset">Reset</button>
                              <button type="submit" class="btn btn-success">Save as Sold</button>
                            </div>
                          </div>
                        </form>                  
                      </div>

                      <div id="canceled-seller-action-form" style="display:none;" class="seller-action-form">
                        <form class="form-horizontal form-label-left input_mask">
                          <input type="hidden" name="status" value="<%= Appointment.statuses[:cancelled] %>">
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Cancelled Question 1</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <input type="text" class="form-control" placeholder="Default Input">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Cancelled Question 2</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <input type="text" class="form-control" placeholder="Default Input">
                            </div>
                          </div>
                          
                          <div class="ln_solid"></div>
                          <div class="form-group">
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                              <button class="btn btn-primary" type="reset">Reset</button>
                              <button type="submit" class="btn btn-success">Save as Cancelled</button>
                            </div>
                          </div>
                        </form>                  
                      </div>
                    </div>
                  </div>
                </div>
              </div>
