<!DOCTYPE html>
<html>
  <head>
    <title>Windows&Doors</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="nav-md">

    <div class="container body">
      <div class="main_container">
        
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="<%= root_path %>" class="site_title"> <span>Windows&Doors</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_info">
                <span>Welcome,</span>
                <h2><%= current_user.first_name%> <%= current_user.last_name%></h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br>

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section active">
                <ul class="nav side-menu" style="">
                  <li class="active"><a><i class="fa fa-home"></i> Menu <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: block;">
                    <% if can? :index, Appointment %>
                      <li class="<%= 'current-page' if params[:controller] == 'appointments' %>"><a href="<%= appointments_path %>">Appointments</a></li>
                    <% end %>
                    <% if can? :index, Customer %>
                      <li class="<%= 'current-page' if params[:controller] == 'customers' %>"><a href="<%= customers_path %>">Customers</a></li>
                    <% end %>
                    <% if can? :sellers, User %>
                      <li class="<%= 'current-page' if params[:controller] == 'sellers' || params[:controller] == 'seller_schedule' %>"><a href="<%= sellers_path%>">Sellers</a></li>
                    <% end %>
                    <% if can? :installers, User %>
                      <li class="<%= 'current-page' if params[:controller] == 'installers' || params[:controller] == 'installer_schedule' %>"><a href="<%= installers_path%>">Installers</a></li>
                    <% end %>
                    <% if can? :managers, User %>
                      <li class="<%= 'current-page' if params[:controller] == 'managers' %>"><a href="<%= managers_path%>">Managers</a></li>
                    <% end %>
                    <% if can? :administrators, User %>
                      <li class="<%= 'current-page' if params[:controller] == 'administrators' %>"><a href="<%= administrators_path%>">Administrators</a></li>
                    <% end %>
                    <% if can? :index, Logs %>
                      <li class="<%= 'current-page' if params[:controller] == 'logs' %>"><a href="<%= logs_path%>">Logs</a></li>
                    <% end %>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="" data-original-title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="" href="<%= logout_path %>" data-original-title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <!-- <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div> -->

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <%= current_user.first_name %> <%= current_user.last_name %>
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="<%= password_path(current_user) %>"> Change password</a></li>
                    <li><a href="<%= logout_path %>"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main" style="min-height:100vh;">

        <% flash.each do |name, msg| %>
        <div class="alert alert-info alert-dismissible" role="alert" style="position:absolute;">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Message:</strong> <%= msg%>
        </div>
        <% end %>
        <div class="x_panel">
          <%= yield %>
        </div>
      
        </div>
        <!-- /page content -->

      </div>
    </div>

  </body>
</html>
